@model List<Category>
@{
    ViewData["Title"] = "Index";

}

<!-- Striped rows start -->
<section class="section">
<div class="row " id="table-striped">
    <div class="col-12">
        <div class="card">
            <!-- table striped -->
            <h2 class="text-center mt-5 mb-5">Categories</h2> 
            <div class="table-responsive">

                <table class="table table-striped mb-0 ">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-bold-500">@item.Name</td>
                                <td>
                                    <a class="btn btn-warning">Update</a>
                                    <a class="btn btn-success"asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
<!-- Striped rows end -->
